/* Start Global Rules */
html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* outline: 1px red solid; */
}
body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --main-color: #10cab7;
  --second-color: #2c4755;
  --padding-unit: 60px;
  --background-color: #f6f6f6;
}

/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.container .links {
  position: relative;
}

.container .links:hover .icons span:nth-child(2) {
  width: 100%;
}

.container .logo {
  width: 60px;
}
.links .icons {
  width: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}
.container .links .icons span {
  background-color: #333;
  height: 2.2px;
  margin-bottom: 5px;
}
.container .links .icons span:first-child {
  width: 100%;
}
.container .links .icons span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.container .links .icons span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  background-color: var(--background-color);
  min-width: 200px;
  position: absolute;
  right: 0;
  margin: 0;
  top: calc(100% + 15px);
  padding: 0;
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--background-color) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li a {
  text-decoration: none;
  display: block;
  color: #333;
  padding: 15px;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.header .links:hover ul {
  display: initial;
}
/* End Header */

/* Start Landing Section */
.Landing {
  background-image: url("../images/mountain.jpg");
  height: calc(100vh - 64px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-y: bottom;
}
.intro-text {
  width: 320px;
  max-width: 100%;
  text-align: center;
}
.intro-text h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.intro-text p {
  width: 323px;
  font-size: 19px;
  max-width: 100%;
  line-height: 1.8;
  color: white;
}
/* End Landing Section */

/* Start Features */
.Features {
  background-color: var(--background-color);
  padding-top: var(--padding-unit);
  padding-bottom: var(--padding-unit);
}
.Features .container {
  display: grid;
  text-align: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.Features .feat {
  padding: 20px;
}
.Features .feat i {
  color: var(--main-color);
}
.Features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.Features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* End Features */
.Global-Heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.Global-Heading + p {
  text-align: center;
  margin: -30px 0 0;
  color: #797979;
  font-size: 20px;
}
/* Start Services */
.Services {
  padding-top: var(--padding-unit);
  padding-bottom: var(--padding-unit);
}
.Services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .srv {
    flex-direction: column;
    text-align: center;
  }
}
.text-box {
  flex: 1;
}
.srv p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.srv h3 {
  margin: 0 0 20px;
}
.services-content .col .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services-content img:last-child {
  width: 260px;
}
@media (max-width: 1199px) {
  .services-content .col .image {
    display: none;
  }
}
.services-content .image {
  position: relative;
  text-align: center;
}
.services-content .image::after {
  content: "";
  position: absolute;
  height: calc(100% + 100px);
  width: 100px;
  background-color: var(--second-color);
  top: -50px;
  right: 0px;
  z-index: -1;
}
/* End Services */

/* Start Portfolio */
.Portfolio {
  padding-top: var(--padding-unit);
  padding-bottom: var(--padding-unit);
  background-color: var(--background-color);
}
.Portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.card {
  background-color: white;
}
.card img {
  max-width: 100%;
}
.info {
  padding: 20px;
}
@media (max-width: 767px) {
  .info {
    text-align: center;
  }
}
.info h3 {
  margin: 0;
}
.info p {
  color: #777;
  margin-bottom: 0;
  line-height: 1.6;
}
/* End Portfolio */

/* Start About */
.About {
  padding-top: var(--padding-unit);
  padding-bottom: calc(var(--padding-unit) + 60px);
}
.About-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  flex-wrap: wrap;
}
.About-content .image-about {
  position: relative;
  width: 250px;
  height: 375px;
}
.About-content .image-about img {
  max-width: 100%;
}
.About-content .image-about::after {
  content: "";
  position: absolute;
  border-bottom: var(--main-color) solid 80px;
  border-left: var(--main-color) solid 80px;
  height: 300px;
  width: 120px;
  z-index: -1;
  top: -11%;
  left: 80%;
}
.About-content .image-about::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  height: calc(100% + 80px);
  width: 100px;
  top: -40px;
  right: 68%;
  z-index: -1;
}
@media (max-width: 991px) {
  .About-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .About-content .image-about::after,
  .About-content .image-about::before {
    display: none;
  }
  .image-about {
    margin: 0 auto 60px;
  }
}
.about-text {
  flex-basis: calc(100% - 500px);
}
.about-text p:first-of-type {
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 2;
}
.about-text p:last-of-type {
  color: #777;
  line-height: 2;
}
.about-text hr {
  width: 50%;
  border-color: var(--main-color);
  display: inline-block;
}
/* End About */
/* Start Contact */
.Contact {
  padding-top: var(--padding-unit);
  padding-bottom: var(--padding-unit);
  background-color: var(--background-color);
}
.Contact .container {
  text-align: center;
}
.Contact .info {
  padding-top: var(--padding-unit);
  padding-bottom: var(--padding-unit);
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 767px) {
  .Contact .info .label,
  .Contact .info .mail {
    font-size: 25px !important;
  }
}
.Contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--second-color);
  letter-spacing: -1px;
}
.Contact .info .mail {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.social {
  margin-top: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.social i {
  margin-left: 10px;
  color: var(--second-color);
}
/* End Contact */
/* small */
@media (max-width: 767px) {
  .Global-Heading {
    font-size: 60px;
  }
  .Global-Heading + p {
    margin-top: -20px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Footer */
footer {
  background-color: var(--second-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}

footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
